[class^='icon-controlpanel-crm-']:before {
  content: '\f126';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-account:after {
  content: '\f2bb';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-accounts:after {
  content: '\f2b9';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-contact:after {
  content: '\f007';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-contacts:after {
  content: '\f0c0';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-todo:after {
  content: '\f192';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-todos:after {
  content: '\f00b';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-invoice:after {
  content: '\f15b';
  font-family: FontAwesome;
}

body#visual-portal-wrapper.pat-plone #edit-zone .contenttype-offer:after {
  content: '\f016';
  font-family: FontAwesome;
}
